# Mainnet Environment (Base)

# Backend
RUST_LOG=warn
API_PORT=8080

# Blockchain
RPC_URL=https://base-mainnet.g.alchemy.com/v2/YOUR_KEY
CHAIN_ID=8453

# Deployment
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Contracts
VORTEX_DAO_ADDRESS=0x983a432de80Eae9722c44ffE61F7831b0Cd99fd5
NULL_OFFICE_ADDRESS=0x7D2fd294506723756B50279a8fd18662cd982bb8
